<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="settingAPI.TC001_GetAPI_SetUp"/>
      <class name="settingAPI.TC002_PostAPI_SetUp"/>
      <class name="settingAPI.TC001_Alternative_PostAPI_Call"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
